<div class="section no-pad-bot">
  <div class="container">
    <div class="row main-text-color">
      <div class="col s12">

        <div class="card-panel">
          <div class="card-action center">
            <div class="center">
              <img src="https://s-media-cache-ak0.pinimg.com/736x/1a/06/6f/1a066ffa655422d743529698ef6f4a8c.jpg" class="responsive-img" style="max-height: 300px;"/>
            </div>
            <p></p>
            <p>Name: Pimnipa Kanajarusroj</p>
            <p>Email: pkbest42@gmail.com</p>
          </div>
        </div>

        <div class="card">
          <div class="card-content">
          <div class="card-action center">
            <a href="https://www.facebook.com/bestsis14" target="_blank"><i class='fa fa-facebook-square fa-3x blue-text'></i></a>
            <a href="mailto:pkbest42@gmail.com" target="_blank"><i class="fa fa-envelope-o"style="font-size:40px;"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
