<!-- <ul id="dropdown1" class="dropdown-content">
  <li><a class ="pure-menu-item" href="/home">Mathamatic</a></li>
  <li class="divider"></li>
  <li><a class ="pure-menu-item" href="/home">English</a></li>
  <li class="divider"></li>
  <li><a class ="pure-menu-item" href='/home'>BBA</a></li>
  <li class="divider"></li>
  <li><a class ="pure-menu-item" href="/home">Science</a></li>
</ul> -->

<div class="navbar-fixed">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href='/home'>lecture Note</a>
        <ul class="pure-menu-list">
            <!-- <li class="pure-menu-item pure-menu-selected"><a class="dropdown-button" href="#!" data-activates="dropdown1"> Notes <i class="fa fa-bars"></i></a></li> -->
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Notes</a></li>
            <li class="pure-menu-item"><a href='/contact' class="pure-menu-link">Contact Us</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Log in</a></li>
        </ul>
    </div>
</div>
